* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.center {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.center-lines {
  background-color: transparent;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  position: relative;
}
.center-lines::before {
  content: "";
  display: block;
  position: absolute;
  left: 33.3333%;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #e6e6e6;
  z-index: -1;
}
.center-lines::after {
  content: "";
  display: block;
  position: absolute;
  right: 33.3333%;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #e6e6e6;
  z-index: -1;
}

.logo {
  display: flex;
  align-items: center;
  transition: color 0.3s;
}
.logo-img {
  fill: #CDA274;
}
.logo-title {
  margin-left: 10px;
  text-transform: uppercase;
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 40px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: normal;
}
.logo:hover p {
  color: #CDA274;
}

.pages-item a {
  font-family: Jost;
  font-size: 20px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: normal;
  color: #292F36;
  text-transform: capitalize;
  transform: color 0.3s;
}
.pages-item a:hover {
  color: #CDA274;
}

.header {
  padding: 44px 0 57px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header--nav {
  display: flex;
  gap: 50px;
}

.banner-wrp {
  border-radius: 70px;
  background-image: url(../images/banner-back-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 758px;
  display: flex;
  padding-left: 52px;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.banner-title {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 65px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: normal;
  max-width: 434px;
  width: 100%;
  text-transform: capitalize;
}
.banner-text {
  margin-top: 18px;
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  max-width: 434px;
  width: 100%;
}
.banner-button {
  margin-top: 21px;
  border-radius: 18px;
  background-color: #292F36;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
  padding: 26px 49px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-family: Jost;
  font-size: 18px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.36px;
  transition: all 0.3s;
}
.banner-button path {
  stroke: #CDA274;
}
.banner-button:hover {
  cursor: pointer;
  background-color: white;
  color: #CDA274;
}
.banner-button:hover svg {
  fill: white;
}

.project {
  padding: 96px 0;
  text-align: center;
}
.project__title {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 50px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.project__text {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  max-width: 737px;
  width: 100%;
  margin: 8px auto 93px auto;
}
.project__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 104px;
       column-gap: 104px;
  row-gap: 54px;
}
.project__list li:nth-child(4n-3) img {
  border-top-right-radius: 80px;
}
.project__list li:nth-child(4n-2) img {
  border-top-left-radius: 80px;
}
.project__list li:nth-child(4n-1) img {
  border-bottom-right-radius: 80px;
}
.project__list li:nth-child(4n) img {
  border-bottom-left-radius: 80px;
}
.project__card-img {
  max-width: 548px;
  width: 100%;
  height: auto;
}
.project__card-description {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project__card-title {
  text-align: left;
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
}
.project__card-text {
  margin-top: 4px;
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.project__card-link {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #F4F0EC;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.project__card-link path {
  stroke: #292F36;
}
.project__card-link:hover {
  background-color: white;
  border: 1px solid #CDA274;
}
.project__card-link:hover path {
  stroke: #CDA274;
}

.counter {
  background-color: #F4F0EC;
  padding: 151px 0;
}
.counter__list {
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter__item {
  max-width: 25%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.counter__item:before {
  content: "";
  width: 1px;
  height: 130px;
  display: block;
  background-color: #CDA274;
  position: absolute;
  right: 0;
  bottom: 7px;
}
.counter__item:last-child::before {
  content: none;
}
.counter__value {
  font-family: DM Serif Display;
  font-size: 85px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1.7px;
  color: #CDA274;
}
.counter__description {
  margin-top: 16px;
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  text-transform: capitalize;
}

.blog {
  padding: 96px 0;
}
.blog__title {
  font-family: DM Serif Display;
  font-size: 50px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
  color: #292F36;
  text-align: center;
}
.blog__text {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  max-width: 811px;
  width: 100%;
  margin: 12px auto 52px auto;
  text-align: center;
}
.blog_list {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}
.blog__item {
  padding: 21px;
  border: 1px solid #e6e6e6;
  border-radius: 62px;
  transition: all 0.3s;
  background-color: #fff;
}
.blog__item:hover {
  background-color: #F4F0EC;
}
.blog__item:hover .blog__link {
  background-color: #fff;
}
.blog__img {
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
}
.blog__img-wrp {
  position: relative;
}
.blog__tags {
  position: absolute;
  width: 135px;
  padding: 4px 0 8px 11px;
  background-color: #fff;
  border-radius: 8px 8px 8px 0;
  z-index: 2;
  left: 20px;
  bottom: 20px;
  color: #4D5053;
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.16px;
}
.blog__description {
  font-family: DM Serif Display;
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
  color: #292F36;
  max-width: 305px;
  width: 100%;
  margin-top: 15px;
  text-align: left;
}
.blog__data {
  margin-top: 26px;
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.16px;
  color: #4D5053;
}
.blog__link {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #F4F0EC;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: stroke 0.3s;
}
.blog__link path {
  stroke: #292F36;
}
.blog__link:hover path {
  stroke: #CDA274;
}
.blog__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
}

.footer {
  padding-bottom: 134px;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  gap: 101px;
}
.footer__logo {
  max-width: 393px;
  width: 100%;
}
.footer__logo-text {
  margin-top: 18px;
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  color: #4D5053;
}
.footer__logo-social-list {
  margin-top: 30px;
  display: flex;
  gap: 54px;
}
.footer__title {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: normal;
}
.footer__pages--text a {
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 300%;
  letter-spacing: 0.22px;
  color: #4D5053;
}
.footer__pages--margin {
  margin-top: 10px;
}
.footer__contacts {
  max-width: 258px;
  width: 100%;
  margin-left: auto;
  margin-right: 0;
}
.footer--text {
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 300%;
  letter-spacing: 0.22px;
  color: #4D5053;
  display: block;
}
.footer__address {
  margin-top: 26px;
  line-height: 150%;
}/*# sourceMappingURL=style.css.map */