.banner {
  &-wrp {
    border-radius: 70px;
    background-image: url(../images/banner-back-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 758px;
    display: flex;
    padding-left: 52px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  &-title {
    color: $titleTxtColor;
    @include dmSerif(65px, 125%, normal);
    max-width: 434px;
    width: 100%;
    text-transform: capitalize;
  }
  &-text {
    margin-top: 18px;
    color: $textColor;
    @include jost(22px, 400, 150%, 0.22px);
    max-width: 434px;
    width: 100%;
  }
  &-button {
    margin-top: 21px;
    border-radius: 18px;
    background-color: $titleTxtColor;
    box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
    padding: 26px 49px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    @include jost(18px, 600, 125%, 0.36px);
    transition: all 0.3s;
    & path {
      stroke: $accentColor;
    }
    &:hover {
      cursor: pointer;
      background-color: white;
      color: $accentColor;
      & svg {
        fill: white;
      }
    }
  }
}
